body { 
    text-align: center; 
    margin-left: 15em; 
    padding: 150px; 
    background-color: black; 
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 { 
    font-size: 50px; 
    color: white;
}

p {
    color: white;
}
a {
    color: grey;
    text-decoration: none;
}

body { 
    font: 20px Helvetica, sans-serif; 
}

article { 
    display: block; 
    text-align: left; 
    width: 650px; 
    margin: 0 auto; 
}